---
import BaseHead from "@/components/BaseHead.astro";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html lang="es">
  <BaseHead title={title} />
  <body class="bg-dark-blue text-white">
    <nav class="text-white">
      <a href="/">Home</a>
      <a href="/blog">Blogs</a>
    </nav>
    <main>
      <slot />
    </main>
  </body>
</html>
